<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcrição de Áudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Transcrição de Áudio</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        {% if transcricao %}
            <h2>Transcrição</h2>
            <a href="{{ url_for('download_file', filename=transcricao) }}">Download da Transcrição</a>
        {% endif %}
    </div>
</body>
</html>
